<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Clothes Size Prediction</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
  </head>

  <body style="background: linear-gradient(to right, #f6cfbe, #b9dcf2);">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="/static/img/tshirt.png" width="30" height="30" class="d-inline-block align-top" alt="">
          Clothes Size Prediction
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container contact-form" style="margin-top: 90px;">
      <div class="contact-image">
        <img
          style="border-radius: 0%;"
          src="{{ url_for('static', filename='img/tshirt.png') }}"
          alt="rocket_contact"
        />
      </div>
      <form action="{{ url_for('predict')}}" method="POST">
        <h3 style="color: #34364A;">Clothes Size Prediction</h3>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input
                type="text"
                name="weight"
                class="form-control"
                placeholder="weight"
                required="required"
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                name="age"
                class="form-control"
                placeholder="age"
                required="required"
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                name="height"
                class="form-control"
                placeholder="height"
                required="required"
              />
            </div>
            <button type="submit" class="btn btn-primary btn-block btn-large">
              Predict
            </button>
          </div>
          <div class="col-md-6">
            <h3 style="color: #34364A;">
              Size Prediction : <br />
              {{ prediction_text }} 
            </h3>
          </div>
        </div>
      </form>
    </div>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </body>
</html>
